		*{margin: 0;padding: 0;}
		ul{list-style: none;}
		span,p,a{
			font-size: 12px;
		}
		a{
			text-decoration: none;
		}
		.fl{
			float: left;
		}
		.fr{
			float: right;
		}
		#shortcut{
			width: 100%;
            height: 30px;
            line-height: 30px;
            background: #F1F1F1;
		}
		.w{
			width: 1210px;
			margin: 0 auto;
		}

        #shortcut .web-nav li{
	        float: left;
	        padding: 0 8px;
        }
        #shortcut .web-nav li span{
	        display: block;
	        width: 1px;
	        height: 10px;
	        background-color: #ccc;
	        margin-top: 11px;
        }
        #shortcut .web-nav li .small-icon{
            width: 20px;
            height: 20px;
            position: relative;
            top: 13px;
            overflow: hidden;
            display: inline-block;
        }
        #shortcut .web-nav li a{
	        color: #999;
	        font-size: 12px;
        }
        #shortcut .web-nav li .register{color: #f10215; }
        #shortcut .web-nav li .small-icon p{
	        position: absolute;
	        width: 20px;
	        height: 20px;
	        top: -15px;
	        font-size: 20px;
        }
        /*开始header样式的设定*/
        #header .w{
	        position: relative;
	        height: 100px;
        }
        #header .logo{
	        position: relative;
            z-index: 12;
            float: left;
            width: 362px;
            height: 60px;
            padding: 20px 0;
        }
        #header .logo a{
	        width: 190px;
	        height: 170px;}
        #header .search{
	        width: 560px;
	        margin-top: 25px;
	        position: absolute;
	        left: 50%;
	        margin-left: -280px;
        }
        #header .search input{
            width: 490px;
            height: 32px;
            border: 1px solid #f10215;
            line-height: 32px;
            font-size: 14px;
            float: left;
        }
        #header .w .dorpdown{
	        color: #f10215;
	        font-size: 12px;
	        width: 188px;
	        height: 33px;
	        line-height: 33px;
	        text-align: center;
	        border: 1px solid #e3e4e5;
	        background-color: #fff;
	        position: absolute;
            right: 99px;
            top: 25px;
        }
        #header .w .dorpdown img{
	        margin-left: 50px;
        }
        #header .w .dorpdown p{
	        margin-left: 2px;
        }
        #header .w .dorpdown span{
	        position: absolute;
            top: 5px;
            left: 140px;
            padding: 2px;
            font-size: 12px;
            line-height: 12px;
            color: #fff;
            background-color: #f10215;
            border-radius: 9px;
            min-width: 12px;
            text-align: center;
        }
        #header .w .hotwords{
            position: absolute;
            left: 320px;
            top: 65px;
            width: 550px;
            height: 20px;
        }
        #header .w .hotwords li{
	        float: left;
            font: 12px Microsoft YaHei;
            color: #666;
            margin-right: 5px;}
        #header .w .hotwords li .first{
	        color: #f10215;
        }
        #header .w .hotwords li a:hover{
	        color: #C81623;
        }
        #navigator .w .navitems{
	        height: 44px;
            border-bottom: 2px solid #B1191A;

        }
        #navigator .w .categorys{
        	float: left;
            position: relative;
            z-index: 10;
            width: 210px;
            height: 44px;
            overflow: visible;
            background: #B1191A;
        }
        #navigator .w .categorys a{
        	display: block;
            width: 190px;
            height: 44px;
            padding: 0 10px;
            background: #B1191A;
            font: 400 15px/44px "microsoft yahei";
            color: #fff;
            text-decoration: none;
        }
        #navigator .w .categorys .ci-right{
        	top: 20px;
            right: 7px;
            height: 7px;
            overflow: hidden;
            font: 700 20px/16px simsun;
            color: #fff;
            display: block;
            position: absolute;
        }
        #navigator .w .navitems ul{
	        float: left;
        }
        #navigator .w .navitems li{
	        float: left;
            margin-left: 25px;
        }
        #navigator .w .navitems a{
	        height: 44px;
            padding: 0 10px;
            text-align: center;
            text-decoration: none;
            font-size: 15px;
            line-height: 44px;
            font-weight: 400;
            color: #333;

        }
        #navigator .w .navitems a:hover{
	        color:#c81623;
        }
        #navigator .w .navitems .spacer{
	        overflow: hidden;
            margin-top: 15px;
            margin-left: 20px;
            margin-right: -10px;
            width: 1px;
            height: 10px;
            background-color: #ccc;
            float: left;
        }
        #navigator .w .treasure a{
            position: absolute;
            right: 0;
            bottom: 10px;
            width: 190px;
            height: 40px;}
		.head-jd{
			margin-bottom: 20px;
		}
		.head-jd .shop-car{
			height: 60px;
			padding:13px 0;
			overflow: hidden;
		}
		.head-jd .shop-car .log{
			background-image: url("images/logo-01.png");
			width: 170px;
			height: 60px;
			display: block;
		}
		.head-jd .shop-car p{
			font-weight: bolder;
			color:#666;
			font-size: 25px;
			line-height: 60px;
		}
		.head-jd .shop-car .ipb{
			padding: 10px;
			margin-top: 15px;
			background-color: #c91623;
			cursor:pointer;
			color: #fff;
			font-weight: 800;
		}

		#wrap{
			width: 1210px;
			margin: 20px auto;
		}
		.img-left{
			width: 452px;
			height: 568px;
			float: left;
		}
		#box{
			width: 452px;
			height: 452px;
			border:1px solid #eee;
			left: 0;
			position: relative;
		}
		#spec-img img{
			width: 452px;
			height: 452px;
		}
		#spec-img{
			position: relative;
		}
		#spec-img .deck{
			width: 250px;
			height: 250px;
			background-color: rgba(0,200,200,0.5);
			position: absolute;
			left: 0;
			top:0;
			display: none;
			cursor: move;
		}


		.spec-list{
			position: relative;
			height: 56px;
			width: 452px;
			margin-top: 20px;
		}
		.spec-list .prev{
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -16px;
		}
		.spec-list .next{
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -16px;
		}
		#spec-list{
			width: 380px;
			position: absolute;
			left: 5%;
			overflow: hidden;
		}
		#spec-list ul{
			position: relative;
			left: 0;
			width: 300%;
		}
		#spec-list li{
			float: left;
			margin: 0 9px;
		}
		.detail{
			width:738px;
			float: right;
		}
		#detail-img{
			width: 530px;
			height: 530px;
			overflow: hidden;
			position: absolute;
			top: 100px;
			right: 350px;
			border:1px solid #eee;
			display: none;
		}
		#detail-img img{
			position: absolute;
			left: 0;
			top : 0;
		}
		/*详情介绍*/
		.img-cont{}
		.img-cont .head-tit{
		    font: 700 16px Arial,"microsoft yahei";
		    color: #666;
		    padding-top: 10px;
		    line-height: 28px;
		    margin-bottom: 5px;
		}
		.img-cont .more-rel{
			font-size: 12px;
			color:#e4393c;
		}
		.img-cont .select-more span{
			color:#e4393c;
		}
		.detail .jd-gray{
			padding: 10px;
			background-color: #f3f3f3;
			overflow: hidden;
		}
		.jdj{
			overflow: hidden;
		}
		.jd-gray .jd-evaluate{
			float: left;
			width:300px;
			height:30px;
			line-height: 30px;
			overflow: hidden;
			margin-top: 5px;
		}
		.jd-gray .jd-evaluate span{
			margin-left: 10px;
		}
		.jd-gray .jd-evaluate p{
			margin-left: 10px;
			color:#e4393c;
		}
		.jd-gray .jd-evaluate a{
			margin-left: 10px;
		}
		.jd-gray .sales{
			overflow: hidden;
		}
		.jd-gray .sales span{
			margin-left: 10px;
		}
		.jd-gray .sales p{
			margin-left: 10px;
			color:#e4393c;
		}
		.jd-gray .sales a{
			margin-left: 10px;
		}
		.jd-gray .full-give{
			margin-top: 10px;
			overflow: hidden;
		}
		.jd-gray .full-give p{
			margin-left: 62px;
			color:#e4393c;
		}
		.jd-gray .full-give a{
			margin-left: 10px;
		}
		.distribution{
			overflow: hidden;
			margin-top: 10px;
		}
		.distribution span,.distribution p{
			margin-left: 20px;
		}
		.buy-way{
			height:30px;
			overflow: hidden;
			margin-top: 10px;
		}
		.buy-way span{
			margin-top: 5px;
			margin-left: 20px;
		}
		.buy-way a{
			border:1px solid #bbb;
			padding:5px;
			margin-left: 5px;
		}
		.buy-way a:hover{
			border:1px solid red;
		}
		.suit{
			height:30px;
			overflow: hidden;
			margin-top: 10px;
		}
		.suit span{
			margin-top: 5px;
			margin-left: 20px;
		}
		.suit a{
			border:1px solid #bbb;
			padding:5px;
			margin-left: 5px;
		}
		.suit a:hover{
			border:1px solid red;
		}
		.tax{
			height:30px;
			overflow: hidden;
			margin-top: 10px;
		}
		.tax span{
			margin-top: 5px;
			margin-left: 20px;
		}
		.tax a{
			border:1px solid #bbb;
			padding:5px;
			margin-left: 5px;
		}
		.tax a:hover{
			border:1px solid red;
		}
		.by-stage{
			height:30px;
			overflow: hidden;
			margin-top: 10px;
		}
		.by-stage span{
			margin-top: 5px;
			margin-left: 20px;
		}
		.by-stage a{
			border:1px solid #bbb;
			padding:5px;
			margin-left: 5px;
		}
		.by-stage a:hover{
			border:1px solid red;
		}
		.last{
			overflow: hidden;
			margin-top: 10px;
		}
		.last .submi{
			margin-left: 20px;
		}
		.last .submi button{
			width: 10px;
			height:20px;
		}
		.last .submi input{
			width:15px;
			padding-left: 5px;
			height: 20px;
		}
		.last h2{
			margin-left: 10px;
			padding: 10px;
			color:#fff;
			background-color: #e4393c;
			cursor: pointer;
		}
